asyncio~=3.4.3
attrs==24.3.0
certifi==2025.1.31
charset-normalizer==3.4.1
fs==2.4.16
idna==3.10
netifaces==0.11.0
Nuitka==2.4.8
numpy==2.2.4
ordered-set==4.1.0
pathvalidate==3.2.3
platformdirs==4.3.6
psutil==7.0.0
pycryptodome==3.22.0
PySide6==6.8.2.1
PySide6-Addons==6.8.2.1
PySide6-Essentials==6.8.2.1
QTPYGUI==1.0.3
python-dateutil==2.9.0.post0
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
shellescape==3.8.1
shiboken6==6.8.2.1
six==1.17.0
titlecase==2.4.1
tzlocal==5.3.1
urllib3==2.3.0
xmltodict==0.14.2
zstandard==0.23.0
