appdirs==1.4.4
asyncio==3.4.3
attrs==25.3.0
certifi==2025.4.26
charset-normalizer==3.4.2
fs==2.4.16
idna==3.10
Naked==0.1.32
netifaces==0.11.0
Nuitka==2.7.5
numpy==2.2.6
ordered-set==4.1.0
pathvalidate==3.2.3
platformdirs==4.3.8
psutil==7.0.0
pycryptodome==3.23.0
PySide6==6.9.0
PySide6_Addons==6.9.0
PySide6_Essentials==6.9.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2
QTPYGUI==1.0.4.1
regex==2024.11.6
requests==2.32.3
setuptools==80.9.0
shellescape==3.8.1
shiboken6==6.9.0
six==1.17.0
titlecase==2.4.1
tzlocal==5.3.1
urllib3==2.4.0
xmltodict==0.14.2
zstandard==0.23.0
