asyncio~=3.4.3
attrs==23.2.0
certifi==2024.2.2
charset-normalizer==3.3.2
fs==2.4.16
idna==3.6
netifaces==0.11.0
Nuitka==2.1.3
numpy==1.26.3
ordered-set==4.1.0
pathvalidate==3.2.0
platformdirs==4.1.0
psutil==5.9.8
pycryptodome==3.20.0
PySide6==6.6.3
PySide6-Addons==6.6.3
PySide6-Essentials==6.6.3
python-dateutil==2.9.0.post0
pytz==2023.3
PyYAML==6.0.1
regex==2023.8.8
requests==2.31.0
shellescape==3.8.1
shiboken6==6.6.3
six==1.16.0
titlecase==2.4.1
typing==3.7.4.3
tzlocal==5.2
urllib3==2.2.1
xmltodict==0.13.0
zstandard==0.22.0
